<div id="causenav">
  <ul class="button-group">
    <li>
      <a href="#" class="small button round" {{action "showmap"}}>
        Map
      </a>
    </li>
    <li>
      <a href="#" class="small button round" {{action "showgrid"}}>
        Grid 
      </a>
    </li>
  </ul>
</div>

{{outlet}}
