<div class="row large-2" id="causecontainer">
  <ul class="pricing-table large-12 columns">

    <li class="title">Causes in Chicago</li>

    <li class="description">
      <b>Click</b> on any of these causes for more details 
      and to locate them on the map!
    </li>

  </ul>
</div>
