<li class="bullet-item row">

  <div class="large-6 columns">
    {{view.content.name}}
  </div>

  <div class="progress large-6 columns round alert">
    <span class="meter" {{bindAttr style="view.content.progressStyle"}}>
    </span>
  </div>

</li>
