@import "featured_need"

div#map
  height: 600px
  z-index: 0

div#causenav
  position: fixed
  top: 5px
  left: 10px
  z-index: 1

div#causecontainer
  position: fixed
  top: 40px
  left: 10px
  z-index: 1
  ul.pricing-table
    padding-top: 20px
    padding-bottom: 20px
    background-color: white 
    border-radius: 5px
    border: 2px solid #CCCCCC 
    li
      margin-left: 1px
      margin-right: 1px
    li.title
      padding: 10px 5px
      font-size: 1.5em  
      font-family: 'Berkshire Swash', cursive
      border-radius: 5px
      border: 1px solid #CCCCCC
    li.bullet-item
      background-color: #DDDDDD
      font-family: "Jura", sans-serif
      text-align: left
      padding: 2px 2px 2px 2px
      border-radius: 5px
      border: 1px solid #CCCCCC
      div.progress
        background-color: white
